<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmln:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>LojaApp</title>
</head>
<body>
	
	<h1>Informação das Lojas:</h1>
	<form method="post">
		Nome da Loja: <input type="text" value="" name="nomeloja"/>
		Morada: <input type="text" value="" name="moradaloja"/>
		Cidade: <input type="text" value="" name="cidadeloja"/>
		Região: <input type="text" value="" name="regiaoloja"/>
		Telefone: <input type="text" value="" name="telefloja"/>
		
		<button type="submit">Gravar</button>
	
	